<article class="product-page">
	<div class="product-page__card card__product-page">
		<figure class="card__image">
			<img src={{product.img}} alt={{product.imgAlt}}>
		</figure>
		<div class="card__content">
			<h1 class="card__title">{{product.prodname}}</h1>
			<p class="card__brand">{{product.brand}}</p>

			<div class="card__container">
				<div class="card__price-wrapper">
					<p class="price__text">
						<span class="price__current">{{product.price}}</span>
						<i class="price__current__icon" id="rub"></i>
					</p>
					<p class="price__text">
						<span class="price__prev">{{product.prevPrice}}</span>
						<i class="price__prev__icon" id="rub"></i>
					</p>
				</div>
			</div>

			<div class="card__rating">
				Количество просмотров: {{product.rating}}
			</div>

			<div class="card__info info__card">
				<h3 class="info__title">Описание:</h3>
				<p class="info__desc">{{product.description}}</p>
				<h3 class="info__title">Характеристики:</h3>
				<ul class="info__char char__info">
					{{#if product.size}}
					<li class="char__item">
						<strong class="char__name">Размер:</strong>
						<div class="char__desc">{{product.size}}</div>
					</li>
					{{/if}}
					{{#if product.material}}
						<li class="char__item">
							<strong class="char__name">Материал:</strong>
							<div class="char__desc">{{product.material}}</div>
						</li>
					{{/if}}
					{{!-- {{#if product.colors}} --}}
						<li class="char__item">
							<strong class="char__name">Цвет:</strong>
							<div class="char__desc">
								<div class="char__color" style="background: {{product.colors}};"></div>
							</div>
						</li>
					{{!-- {{/if}} --}}
					{{#if product.optional}}
						<li class="char__item">
							<strong class="char__name">Дополнительно:</strong>
							<div class="char__desc">{{product.optional}}</div>
						</li>
					{{/if}}
					{{#if product.shewingPeriod}}
						<li class="char__item">
							<strong class="char__name">Срок пошива:</strong>
							<div class="char__desc">{{product.shewingPeriod}}</div>
						</li>
					{{/if}}
					{{#if product.deliveryTime}}
						<li class="char__item">
							<strong class="char__name">Срок доставки:</strong>
							<div class="char__desc">{{product.deliveryTime}}</div>
						</li>
					{{/if}}
				</ul>	
			</div>
		</div>

	</div>
</article>

<style>
	.product-page {
    margin: 0 auto;
    max-width: 1720px;
    background: #fff;
    color: #000;
	}
	.card__product-page {
    padding: var(--inner);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
	}
	.card__image {
		width: 50%;
	}
	.card__image img {
		width: 100%;
		border: 1px solid #000;
	}
	.card__content {
		width: 50%;
		padding: 0 var(--inner-lg) var(--inner-lg);
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		box-sizing: border-box;
	}
	.card__title {
		font-size: var(--h1);
		line-height: var(--h1_h);
	}
	.card__brand {
		font-size: var(--h2);
		line-height: var(--h2_h);		
	}
	.card__price {
		margin-top: 40px;		
		display: flex;
    column-gap: var(--gap);		
	}
	.card__container {
		display: flex;
		column-gap: var(--gap);
	}
	.card__price-wrapper {
		display: flex;
		column-gap: var(--gap-md);
	}
	.price__text {
		display: flex;
		align-items: center;
		column-gap: var(--gap-sm);
	}
	.price__current {
		font-size: var(--h2);
	}
	.price__current__icon {
		display: block;
    width: var(--priceCurrent);
	}
	.price__prev {
		font-size: var(--h5);
		text-decoration: line-through;
	}
	.price__prev__icon {
		display: block;
    width: 14px;
	}
	.card__rating {
		font-size: var(--h4);
	}
	.card__info {
		margin-top: auto;
	}
	.info__title {
		margin: var(--gap-md) 0;
		font-size: var(--h3);
	}
	.info__desc {
		font-size: var(--h5);
		line-height: var(--h5_h);
	}
	.info__char {
	}
	.char__item {
		margin-top: var(--gap-sm);
		display: flex;
		align-items: center;
		column-gap: var(--gap-md);
	}
	.char__name {
		font-size: var(--h5);
		line-height: var(--h5_h);
		white-space: nowrap;
	}
	.char__desc {
		display: flex;
		flex-wrap: nowrap;
		column-gap: 10px;
		font-size: var(--h5);
		line-height: var(--h5_h);
	}
	.char__color {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid #000;
	}

	@media (max-width: 996px) {
	  .card {
	  	flex-direction: column;
	  	row-gap: 40px;
	  }
		.card__image {
			padding: 0 var(--inner-lg) var(--inner-lg);
			width: 100%;
		}
		.card__content {
			width: 100%;
		}
		.char__item {
			align-items: flex-start;
		}
	}
	@media (max-width: 500px) {
	  .char__item {
	  	margin-top: 20px;
	  	flex-direction: column;
	  	column-gap: unset;
	  	row-gap: 5px;
	  }
	}
</style>


<script>
	const cardFigure = document.querySelector('.card__image');
	const cardImage = cardFigure.querySelector('img');
	const cardContent = document.querySelector('.card__content');

	console.log(cardImage.clientHeight)
	console.log(cardContent.offsetHeight)
</script>

